{
  "extends": ["react-app"], // 继承规则需要安装eslint-config-react-app
  "parserOptions": {
    "babelOptions": {
      "presets": [
        // 解决页面报错问题
        ["babel-preset-react-app", false],
        "babel-preset-react-app/prod"
      ]
    }
  }
}
